.cart {
  margin-left: 10px;
}
.cart button {
  background-color: #f0c14b;
  border: 1px solid #846a29;
  padding: 4px;
  width: 200px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
.price {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.price p {
  margin: 5px 0;
  font-size: 15px;
}
